In [5]:
import numpy as np
import pandas as pd

In [6]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [20]:
inside

[1, 2, 3, 1, 2, 3]

list and zip together allow us to create a list of tuples

In [10]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [13]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [19]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A', 'B'])

Passing a MutliIndex as row param in a DataFrame allows us to create hierarchical rows in the table

In [21]:
df

             A         B
G1 1  0.327619  1.416919
   2 -1.272305 -0.837757
   3 -1.691798 -0.422972
G2 1  0.919635  0.204506
   2  0.457495 -0.124138
   3 -0.525231 -0.151314

Calling data

In [22]:
df.loc['G1']

          A         B
1  0.327619  1.416919
2 -1.272305 -0.837757
3 -1.691798 -0.422972

In [26]:
df.loc['G1'].loc[1]

A    0.327619
B    1.416919
Name: 1, dtype: float64

These to indexes don't have names

In [25]:
df.index.names

FrozenList([None, None])

In [33]:
df.index.names = ['Groups', 'Ns']

In [38]:
df

                  A         B
Groups Ns
G1     1   0.327619  1.416919
       2  -1.272305 -0.837757
       3  -1.691798 -0.422972
G2     1   0.919635  0.204506
       2   0.457495 -0.124138
       3  -0.525231 -0.151314

Selecting specific values

In [39]:
df.loc['G2'].loc[2]['B']

-0.1241378569170145

In [40]:
df.loc['G1'].loc[2]['A']

-1.272305288130348

Crossection function: To use when we have a MultiLevelIndex and need specific indexes

Just by itself it works the same as `df.loc['G1]`

In [46]:
df.xs('G1')

           A         B
Ns
1   0.327619  1.416919
2  -1.272305 -0.837757
3  -1.691798 -0.422972

But, we can return specific cross sections specifying the level we want

In this case we're getting al the `1` from the `Ns` index

In [48]:
df.xs(1,level='Ns')

               A         B
Groups
G1      0.327619  1.416919
G2      0.919635  0.204506